.idea
/env
/venv
**/.DS_Store
.vscode
**/datasets
.code-workspace
**/ACPDS
**/Saved_Models
annotators/widget_b/img
annotators/widget_b/int_markup
annotators/widget_b/patch_markup
annotators/widget_a/parking_photos